<script type="text/javascript">
	loadData();
</script>
<h1 class="plotTitle">Productivity vs Time Working on Task</h1>
<div id="plot-container">
	<svg id="prodWorking"></svg>
</div>
<br/>
<br/>
<br/>
<h1 class="plotTitle">Productivity Over Time</h1>
<div id="plot-container">
	<svg id="timeProd"></svg>
</div>
